{% extends 'cat/base.html' %}

{% load static %}

{% block title %}
    <title>Activities</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'cat/css/activity.css' %}">
    <link rel="stylesheet" href="{% static 'cat/css/modal.css' %}">
{% endblock css %}

{% block container %}
<div class="container">
    <div class="dashboard">
        <div class="user-found">
            <img src="{% static 'cat/img/temp-header.png' %}" alt="header image" class="found-user-header" data-header-url="{{userExtra.header}}">
            
            <div class="found-user-right">
                <div class="found-user-name">
                    <span>{{username}}</span>  
                </div>
            </div>
        </div>

        <div class="dashboard-panel" id="cat-count-render" data-cat-count={{catOwn}}>
            STOCK:
        </div>

        <div class="dashboard-panel" id="love-count-render">
            LOVE RECEIVED<br>
            <i class="fas fa-heart"></i> <i class="fas fa-times fa-xs"></i> <span>{{loveCount}}</span>
        </div>

        <div class="dashboard-button" onclick="goToUser({{uid}})"><i class="fas fa-address-card"></i> Profile</div>

        <div class="dashboard-button"><a href="{% url 'search' %}"><i class="fas fa-search"></i> Discover</a></div>

        <div class="dashboard-button"><a href="{% url 'fridge' %}"><i class="fas fa-box"></i> My Fridge</a></div>

        <div class="dashboard-button"><a href="{% url 'connection' %}"><i class="fas fa-people-arrows"></i> Connection</a></div>
    </div>

    <div class="feeds">
        <div class="one-feed">
            Admin Adopted a new cat named ZZZ
        </div>

        <div class="one-feed">
            Admin Adopted a new cat named ZZZ
        </div>
    </div>
    

</div>
{% endblock container %}

{% block js %}
    <script src="{% static 'cat/js/activity.js' %}"></script>
{% endblock js %}