{% extends 'cat/base.html' %}

{% load static %}

{% block title %}
    <title>Activities</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'cat/css/activity.css' %}">
    <link rel="stylesheet" href="{% static 'cat/css/modal.css' %}">
{% endblock css %}

{% block container %}
<div class="container">
    <h1 class="page-title">Activity History</h1>

    <div class="filter">
        <button class="selected">Past Week</button>
        <button>Past Month</button>
        <button>Past Year</button>
        <button>All</button>
    </div>

    <div class="history-list">
        <table>
            <thead>
                <tr>
                    <th>When</th>
                    <th>What</th>
                    <th>Who</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2021/05/25</td>
                    <td>Cathy cooked your cat Lucy.</td>
                    <td>Cathy, Lucy</td>
                </tr>
                <tr>
                    <td>2021/05/24</td>
                    <td>Cathy fed your cat Lucy.</td>
                    <td>Cathy, Lucy</td>
                </tr>
                <tr>
                    <td>2021/05/23</td>
                    <td>Cathy played with your cat Lucy.</td>
                    <td>Cathy, Lucy</td>
                </tr>

                <tr>
                    <td>2021/05/22</td>
                    <td>Cathy trained your cat Lucy.</td>
                    <td>Cathy, Lucy</td>
                </tr>
                <tr>
                    <td>2021/05/21</td>
                    <td>Cathy took your cat Lucy for a date.</td>
                    <td>Cathy, Lucy</td>
                </tr>
                <tr>
                    <td>2021/05/20</td>
                    <td>Cathy dressed up your cat Lucy.</td>
                    <td>Cathy, Lucy</td>
                </tr>
                <tr>
                    <td>2021/05/19</td>
                    <td>Cathy borrowed your cat Lucy.</td>
                    <td>Cathy, Lucy</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
{% endblock container %}

{% block js %}
    <script src="{% static 'cat/js/activity.js' %}"></script>
{% endblock js %}