{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    {% endblock title %}

    <link rel="stylesheet" href="{% static 'cat/fontawesome-free-5.15.4-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'cat/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'cat/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'cat/css/modal.css' %}">

    {% block css %}
    {% endblock css %}


</head>
<body>
    <nav>
        <ul>
            <li id="menu-expand"><i class="fas fa-bars"></i></li>
            <li id="menu-home"><a href="{% url 'index' %}">Home</a></li>
            <li id="menu-fridge"><a href="{% url 'fridge' %}">My Fridge</a></li>
            <li id="menu-search"><a href="{% url 'search' %}">Search</a></li>
            <li id="menu-activity"><a href="{% url 'activity' %}">Activity</a></li>
            <li class="right-aligned" id="user-banner"><a href="#">{{username}} <i class="fas fa-user"></i></a></li>
        </ul>
    </nav>

    {% block container %}
    {% endblock container %}

    <footer>
        Copyright: Copy ain't right!
        <span><a href="https://paypal.me/YifeiHu?locale.x=en_US">Donate $$$</a></span>
    </footer>

    <div class="modal" id="user-info-modal">

        <div class="modal-body">
            <div class="modal-header">
                About Yifei <span class="close-modal-button" data-close="#user-info-modal"><i class="fas fa-times"></i></span>
            </div>

            <div class="modal-content">
                <ul class="cat-stats-list">
                    <li><span class="column-name image-column">HEADER</span><img src="{% static 'cat/img/temp-header.png' %}" alt="header image" id="user-info-header"></li>
                    <li><span class="column-name">NAME</span>{{ username }}</li>
                    <li><span class="column-name">E-MAIL</span>{{ email }}</li>
                    <li><span class="column-name">ABOUT</span><input type="text" class="cat-stats-edit" id="user-info-about" value="" placeholder="Something about you."></li>
                    <li><span class="column-name">B-DAY</span><input type="date" class="cat-stats-edit" id="user-info-birthday"></li>
                </ul>
            </div>

            <div class="modal-controls">
                <a href="{% url 'login' %}" class="btn btn-cancel">LOG OUT <i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
    </div>

    {% block modal %}
    {% endblock modal %}

    <script src="{% static 'cat/js/jquery-3.6.0.min.js' %}"></script>
    <script>
        var userName = $("#user-banner>a").text()
    </script>
    <script src="{% static 'cat/js/csrf.js' %}"></script>
    <script src="{% static 'cat/js/modal.js' %}"></script>
    <script src="{% static 'cat/js/navbar.js' %}"></script>

    {% block js %}
    {% endblock js %}
</body>

</html>