{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    {% endblock title %}

    <link rel="stylesheet" href="{% static 'cat/fontawesome-free-5.15.4-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'cat/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'cat/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'cat/css/modal.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" integrity="sha512-zxBiDORGDEAYDdKLuYU9X/JaJo/DPzE42UubfBw9yg8Qvb2YRRIQ8v4KsGHOx2H1/+sdSXyXxLXv5r7tHc9ygg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block css %}
    {% endblock css %}


</head>
<body>
    <nav>
        <ul>
            <!-- <li class="left-aligned menu-home"><a href="{% url 'index' %}">Home</a></li> -->
            <li class="left-aligned menu-activity"><a href="{% url 'activity' %}">Home</a></li>
            <li class="left-aligned menu-fridge"><a href="{% url 'fridge' %}">My Fridge</a></li>
            <li class="left-aligned menu-search"><a href="{% url 'search' %}">Search</a></li>
            <li class="right-aligned"><a href="/cat/u/{{uid}}" id="user-banner" data-username="{{username}}"><i class="fas fa-user"></i></a><a href="{% url 'connection' %}" id="friends-banner"><i class="fas fa-people-arrows"></i></a><a href="#" id="notification-banner"><i class="fas fa-bell"></i></a></li>
            
        </ul>
    </nav>

    {% block container %}
    {% endblock container %}

    <footer>
        <div>
            <a href="{% url 'activity' %}" class="menu-activity"><i class="fas fa-home"></i></a>
            <a href="{% url 'fridge' %}" class="menu-fridge"><i class="fas fa-box"></i></a>
            <a href="{% url 'search' %}" class="menu-search"><i class="fas fa-search"></i></a>
        </div>
    </footer>

    

    <div class="modal modal-dismissable modal-no-dim" id="notification-modal">

        <div class="modal-body modal-top-right">
            <div class="modal-header modal-header-light">
                Notifications <span class="close-modal-button" data-close="#notification-modal"><i class="fas fa-times"></i></span>
            </div>
    
            <div class="modal-content">
                <div class="modal-tab-bar">
                    <div class="modal-tab modal-tab-selected" id="new-nofitication-tab">New</div>
                    <div class="modal-tab" id="all-nofitication-tab">All</div>
                </div>

                <div class="modal-tab-content" id="notification-content">
                    <!-- <div class="one-notification">
                        <img src="{% static 'cat/img/temp-header.png' %}" alt="header photo">
                        <div>
                            <strong>yifei</strong> started following you. <light>1d</light>
                        </div>
                    </div>

                    <div class="one-notification">
                        <img src="{% static 'cat/img/temp-header.png' %}" alt="header photo">
                        <div>
                            <strong>yifei</strong> started following you. <light>1d</light>
                        </div>
                    </div> -->
                </div>
            </div>
    
            <!-- <div class="modal-controls">
                <button class="btn btn-submit" id="follow-button">Follow <i class="fas fa-user-plus"></i></button>
            </div> -->
        </div>
    </div>

    {% block modal %}
    {% endblock modal %}

    <script src="{% static 'cat/js/jquery-3.6.0.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js" integrity="sha512-Gs+PsXsGkmr+15rqObPJbenQ2wB3qYvTHuJO6YJzPe/dTLvhy0fmae2BcnaozxDo5iaF8emzmCZWbQ1XXiX2Ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var userName = $("#user-banner").data("username")
    </script>
    <script src="{% static 'cat/js/csrf.js' %}"></script>
    <script src="{% static 'cat/js/modal.js' %}"></script>
    <script src="{% static 'cat/js/navbar.js' %}"></script>
    <script src="{% static 'cat/js/notification.js' %}"></script>
    {% block js %}
    {% endblock js %}
</body>

</html>