{% extends 'cat/base.html' %}

{% load static %}

{% block title %}
    <title>Borrow</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'cat/css/borrow.css' %}">
{% endblock css %}

{% block container %}
<div class="container">
    <h1 class="page-title">Borrow <i class="fas fa-cat"></i> from <i class="fas fa-user-friends"></i></h1>

    <div class="input-group">
        <label for="cat-id"><i class="fas fa-cat"></i> <i class="fas fa-hashtag"></i></label>
        <input id="cat-id" type="text" placeholder="6-DIGIT CAT #">
    </div>

    <div class="cat-found">
        <div class="cat-card">

            <div class="cat-card-left">
                <i class="fas fa-vr-cardboard"></i>
            </div>

            <div class="cat-card-right">
                <div class="cat-id">
                    <span>ID</span>FAEE6R
                </div>

                <div class="cat-name">
                    <span>NAME</span>LUCY
                </div>

                <div class="cat-owner">
                    <span>OWNER</span>YIFEI
                </div>

                <div class="cat-bread">
                    <span>BREAD</span>DOG-HATER
                </div>

                <div class="cat-age">
                    <span>AGE</span>18 HOURS
                </div>

                <div class="cat-weight">
                    <span>WEIGHT</span>22 POUND
                </div>

                <div class="cat-wisdom">
                    <span>WISDOM</span>15 / 100
                </div>
            </div>

        </div>
    </div>

    <div class="center-inner">
        <button class="round-button">Borrow <i class="fas fa-dolly"></i></button>
    </div>
</div>
{% endblock container %}

{% block js %}
    <script src="{% static 'cat/js/borrow.js' %}"></script>
{% endblock js %}