{% extends 'cat/base.html' %}

{% load static %}

{% block title %}
    <title>My Fridge</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'cat/css/fridge.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'cat/css/modal.css' %}"> -->
{% endblock css %}

{% block container %}
    <div class="container">
        <h1 class="page-title">My <i class="fas fa-cat"></i> Fridge (<span id="cat-count"></span>)</h1>

        <div class="cat-list">

        </div>
    </div>
{% endblock container %}

{% block modal %}
    <div class="modal modal-dismissable" id="borrow-manage-modal">

        <div class="modal-body">
            <div class="modal-header">
                Who can borrow LUCY? <span class="close-modal-button" data-close="#borrow-manage-modal"><i class="fas fa-times"></i></span>
            </div>

            <div class="modal-content">
                <div class="modal-input-group">
                    <input type="email" placeholder="borrower's email">
                    <button class="btn-submit">ADD <i class="fas fa-user-plus"></i></button>
                </div>

                <div class="existing-borrower">
                    <div class="one-borrower">
                        <i class="fas fa-paw"></i> ai8hyf@gmail.com
                        <span><i class="fas fa-user-times"></i></span>
                    </div>

                    <div class="one-borrower">
                        hu381@purdue.edu
                        <span><i class="fas fa-user-times"></i></span>
                    </div>
                </div>
            </div>

            <div class="modal-controls">
                <button class="btn btn-cancel">CANCEL</button>
                <button class="btn btn-submit">SUBMIT</button>
            </div>
        </div>
    </div>

    <div class="modal modal-dismissable" id="cat-stats-modal">

        <div class="modal-body">
            <div class="modal-header">
                About <span id="cat-name-header"></span> <span class="close-modal-button" data-close="#cat-stats-modal"><i class="fas fa-times"></i></span>
            </div>

            <div class="modal-content">
                <ul class="cat-stats-list">
                    <li><span class="column-name">ID</span><span id="cat-stats-list-id"></span></li>
                    <li><span class="column-name">NAME</span><span id="cat-stats-list-name"></span></li>
                    <li><span class="column-name">MOTTO</span><input type="text" class="cat-stats-edit" id="cat-stats-list-motto" required></li>
                    <li><span class="column-name">OWNER</span><span id="cat-stats-list-owner"></span></li>
                    <li><span class="column-name">AGE</span><span id="cat-stats-list-age"></span></li>
                    <li><span class="column-name">WEIGHT</span><span id="cat-stats-list-weight"></span></li>
                    <li><span class="column-name">HEALTH</span><span id="cat-stats-list-health"></span></li>
                </ul>
            </div>

            <div class="modal-controls">
                <button class="btn btn-cancel close-modal-button" data-close="#cat-stats-modal">CANCEL</button>
                <button class="btn btn-submit" id="update-cat-desc-btn">SUBMIT</button>
            </div>
        </div>
    </div>

    <div class="modal modal-dismissable" id="adopt-modal">

        <div class="modal-body modal-body-lg">
            <div class="modal-header">
                Adopt <i class="fas fa-cat"></i> <span class="close-modal-button" data-close="#adopt-modal"><i class="fas fa-times"></i></span>
            </div>

            <div class="modal-content">
                <div class="cat-preview">
                    <canvas id="cat-preview-canvas"></canvas>
                </div>

                <div class="cat-param">

                    <h2><i class="fas fa-sliders-h"></i> ConfiGurator</h2>

                    <div class="param-input">
                        <label for="">Cat Name</label>
                        <input type="text" placeholder="Tom" id="cat-name">
                    </div>

                    <div class="param-input">
                        <label for="">Cat Motto</label>
                        <input type="text" placeholder="Tom loves Jerry." id="cat-motto">
                    </div>

                    <hr class="category-divider">

                    <div class="param-input">
                        <label for="head_width">Head Width</label>
                        <input type="range" min="50" max="300" value="120" id="head_width" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="head_height">Head Height</label>
                        <input type="range" min="50" max="200" value="80" id="head_height" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="head_height">Head Arc</label>
                        <input type="range" min="0" max="100" value="80" id="head_arc" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="head_color">Face Color</label>
                        <input type="color" value="#000000" id="head_color" onchange="generateCat()">
                    </div>

                    <hr class="category-divider">

                    <div class="param-input">
                        <label for="ear_width">Ear Width</label>
                        <input type="range" min="0" max="50" value="20" id="ear_width" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="ear_height">Ear Height</label>
                        <input type="range" min="0" max="100" value="20" id="ear_height" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="ear_direction">Ear Angle</label>
                        <input type="range" min="0" max="100" value="20" id="ear_direction" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="ear_offset">Ear Align</label>
                        <input type="range" min="0" max="100" value="30" id="ear_offset" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="ear_color">Ear Color</label>
                        <input type="color" value="#a1a1a1" id="ear_color" onchange="generateCat()">
                    </div>

                    <hr class="category-divider">

                    <div class="param-input">
                        <label for="eye_height">Eye Height</label>
                        <input type="range" min="0" max="90" value="30" id="eye_height" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="eye_width">Eye Width</label>
                        <input type="range" min="0" max="50" value="40" id="eye_width" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="eye_distance">Eye Between</label>
                        <input type="range" min="0" max="100" value="40" id="eye_distance" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="eye_margin_top">Eye Align</label>
                        <input type="range" min="0" max="100" value="50" id="eye_margin_top" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="eye_color">Eye Color</label>
                        <input type="color" value="#ffffff" id="eye_color" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="retina_height">Iris Height</label>
                        <input type="range" min="0" max="50" value="45" id="retina_height" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="retina_width">Iris Width</label>
                        <input type="range" min="0" max="50" value="15" id="retina_width" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="retina_color">Iris Color</label>
                        <input type="color" value="#000000" id="retina_color" onchange="generateCat()">
                    </div>

                    <hr class="category-divider">

                    <div class="param-input">
                        <label for="neck_length">Neck Length</label>
                        <input type="range" min="0" max="200" value="10" id="neck_length" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="neck_width">Neck Width</label>
                        <input type="range" min="1" max="100" value="10" id="neck_width" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="neck_color">Neck Color</label>
                        <input type="color" value="#ffffff" id="neck_color" onchange="generateCat()">
                    </div>


                    <hr class="category-divider">

                    <div class="param-input">
                        <label for="body_width">Body Width</label>
                        <input type="range" min="40" max="300" value="80" id="body_width" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="body_height">Body Height</label>
                        <input type="range" min="40" max="300" value="120" id="body_height" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="body_arc">Body Arc</label>
                        <input type="range" min="1" max="100" value="100" id="body_arc" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="body_color">Body Color</label>
                        <input type="color" value="#a1a1a1" id="body_color" onchange="generateCat()">
                    </div>

                    <hr class="category-divider">

                    <div class="param-input">
                        <label for="tail_height">Tail Length</label>
                        <input type="range" min="20" max="120" value="80" id="tail_height" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="tail_stroke">Tail Width</label>
                        <input type="range" min="1" max="10" value="4" id="tail_stroke" onchange="generateCat()">
                    </div>

                    <div class="param-input">
                        <label for="tail_color">Tail Color</label>
                        <input type="color" value="#000000" id="tail_color" onchange="generateCat()">
                    </div>

                    
                </div>
            </div>

            <div class="modal-controls">
                <button class="btn btn-cancel">RESET</button>
                <button class="btn" onclick="exportCatImage('cat-preview-canvas')">Download</button>
                <button class="btn btn-submit" onclick="adoptCat()">ADOPT</button>
            </div>
        </div>
    </div>
{% endblock modal %}

{% block js %}
<script src="{% static 'cat/js/catBuilder.js' %}"></script>
<script src="{% static 'cat/js/fridge.js' %}"></script>
{% endblock js %}
