{% extends 'cat/base.html' %}

{% load static %}

{% block title %}
    <title>Cat Fridge</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'cat/css/index.css' %}">
{% endblock css %}

{% block container %}
    <div class="container">
        <h1 class="page-title">Welcome to <i class="fas fa-cat"></i> Fridge!</h1>

        <p class="what-is-cat-fridge">In the 22th century, <i class="fas fa-cat"></i> has become the most popular pet in the <i class="fas fa-globe-americas fa-spin"></i>. <i class="fas fa-child"></i> can easily <strong>adopt</strong> <i class="fas fa-cat"></i>, <strong>play</strong> with <i class="fas fa-cat fa-rotate-90"></i>, or <strong>store</strong> <i class="fas fa-cat fa-rotate-270"></i> into a <i class="fas fa-cat"></i> fridge - a low temperature dormancy chamber which basically <i class="fas fa-pause-circle"></i> the <i class="fas fa-clock"></i> for <i class="fas fa-cat"></i>.</p>

        <div class="fridge-container">
            <a href="./fridge">
                <img class="cat-fridge-img" src="{% static 'cat/img/fridge.png' %}" alt="a cat fridge">
                <img class="cat-fridge-img" src="{% static 'cat/img/fridge.png' %}" alt="a cat fridge">    
            </a>
            
            <!-- copyfight free image -->
        </div>
    </div>
{% endblock container %}

{% block js %}
    <script src="{% static 'cat/js/index.js' %}"></script>
{% endblock js %}
