{% extends 'cat/base.html' %}

{% load static %}

{% block title %}
    <title>{{user.username}}</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'cat/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'cat/css/modal.css' %}">
{% endblock css %}

{% block container %}
<div class="container">
    <div class="user-found">
        <img src="{% static 'cat/img/temp-header.png' %}" alt="header image" class="found-user-header" data-header-url="{{userExtra.header}}">
        
        <div class="found-user-right">
            <div class="found-user-name" data-uid="{{user.id}}">
                <span>{{user.username}}</span>

                {% if uid == user.id or is_admin %}
                    <span id="edit-info"><i class="fas fa-cog"></i></span>
                {% else %}
                    <span id="follow-button-{{user.id}}" class="right-aligned-button sm-follow-button">Follow</span>
                {% endif %}

            </div>

            <div class="connection-info">
                <div><span id="follower-count">{{followerCount}}</span> Followers</div>
                <div><span id="following-count">{{followingCount}}</span> Following</div>
            </div>

            <div class="found-user-about">{{userExtra.about}}</i></div>    
        </div>
    </div>

    <div class="tabs">
        <div class="tab selected" onclick="getAllCatFromUser()">Cats (<span id="cat-count"><i class="fas fa-spinner fa-spin"></i></span>)</div>
        <!-- <div class="tab">Activities</div> -->
    </div>

    <div class="activities" hidden>
        activities
    </div>

    <div class="cat-collection">

    </div>
</div>
{% endblock container %}

{% block modal %}

{% if uid == user.id or is_admin %}
<div class="modal modal-dismissable" id="user-info-modal">

    <div class="modal-body">
        <div class="modal-header">
            Edit Profile <span class="close-modal-button" data-close="#user-info-modal"><i class="fas fa-times"></i></span>
        </div>

        <div class="modal-content">
            <ul class="cat-stats-list">
                <li><span class="column-name image-column">Header</span><img src="{% static 'cat/img/temp-header.png' %}" alt="header image" id="user-info-header"></li>
                <li><span class="column-name">Name</span>{{ user.username }}</li>
                <li><span class="column-name">E-mail</span>{{ user.email }}</li>
                <li><span class="column-name">F-name</span><input type="text" class="cat-stats-edit" id="user-info-fname" value="{{user.first_name}}" placeholder="First Name"></li>
                <li><span class="column-name">L-name</span><input type="text" class="cat-stats-edit" id="user-info-lname" value="{{user.last_name}}" placeholder="Last Name"></li>
                <li><span class="column-name about-column">About</span><textarea class="cat-stats-edit" id="user-info-about" placeholder="Something about you. (Max 200 characters)">{{userExtra.about}}</textarea></li>

                <li><span class="column-name">B-day</span><input type="date" class="cat-stats-edit" id="user-info-birthday" value="{{birthdate}}" data-origin="{{birthdate}}"></li>

                {% if uid == user.id %}
                
                <hr>

                <li><span class="column-name-wide"><i class="fas fa-exclamation-triangle"></i> Danger Zone</span></li>
                <li><span class="column-name">New-Pass</span><input type="password" class="cat-stats-edit" id="user-info-pass1" placeholder="New Password"></li>
                <li><span class="column-name">Confirm</span><input type="password" class="cat-stats-edit" id="user-info-pass2" placeholder="Confirm Password"></li>
                <li><button class="inline-btn" onclick="updatePass()">Change Password</button></li>

                <hr>

                {% endif %}

            </ul>
        </div>

        {% if uid == user.id %}
        <div class="modal-controls">
            <a href="{% url 'login' %}" class="btn btn-cancel">LOG OUT <i class="fas fa-sign-out-alt"></i></a>
        </div>
        {% endif %}
    </div>
</div>

<div class="modal" id="upload-header-modal">

    <div class="modal-body">
        <div class="modal-header">
            Update Header <span class="close-modal-button" data-close="#upload-header-modal"><i class="fas fa-times"></i></span>
        </div>

        <div class="modal-content">
            <label id="choose-image-button" for="raw-image"><i class="far fa-image fa-4x"></i><br><br><strong>click to choose an image</strong></label>
            <input type="file" id="raw-image" hidden>

            <div class="croppie-area"></div>
        </div>

        <div class="modal-controls">
            <button class="btn btn-cancel" id="clear-header-editor">CLEAR <i class="fas fa-redo"></i></button>
            <button class="btn btn-submit" id="upload-edited-header" disabled>UPLOAD <i class="fas fa-upload"></i></button>
        </div>
    </div>
</div>
{% endif %}

{% endblock modal %}

{% block js %}
    <script src="{% static 'cat/js/catBuilder.js' %}"></script>
    {% if uid == user.id or is_admin %}
        <script src="{% static 'cat/js/editProfile.js' %}"></script>
    {% else %}
        <script src="{% static 'cat/js/profile.js' %}"></script>
    {% endif %}
{% endblock js %}