{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New to Cat Fridge</title>
    <link rel="stylesheet" href="{% static 'cat/fontawesome-free-5.15.4-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'cat/css/login.css' %}">

</head>
<body>
    <div class="container">
        <h1>Welcome, New Friend!</h1>
        <h2><a href="{% url 'login' %}">Already Registered?</a></h2>

        <div class="input-group">
            <label for="register-username"><i class="fas fa-user-tag"></i> Username</label>
            <input id="register-username" type="text" required>
        </div>

        <div class="input-group">
            <label for="register-email"><i class="fas fa-at"></i> E-mail</label>
            <input id="register-email" type="email" required>
        </div>

        <div class="input-group">
            <label for="register-password"><i class="fas fa-key"></i> Password</label>
            <input id="register-password" type="password" required>
        </div>

        <div class="center-inner">
            <button class="round-button"><i class="fas fa-2x fa-arrow-right"></i></button>
        </div>
    </div>

    <script src="{% static 'cat/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'cat/js/login.js' %}"></script>

</body>

</html>