{% extends 'cat/base.html' %}

{% load static %}

{% block title %}
    <title>Search</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'cat/css/search.css' %}">
{% endblock css %}

{% block container %}
<div class="container">
    <h1 class="page-title">Find <i class="fas fa-cat"></i> or <i class="fas fa-user-friends"></i></h1>

        <div class="input-group">
            <input id="search-content" name="keyword" type="text" placeholder="who or what?" required>
            <button id="search-button"><i class="fas fa-search"></i></button>
        </div>
    
        <div class="radio-group">

            {% if lastSearchOption == "cat" %}
                <input type="radio" id="option-cat" name="search-option" value="cat" checked>
            {% else %}
                <input type="radio" id="option-cat" name="search-option" value="cat">
            {% endif %}

            
            <label for="option-cat">Cat ID</label>
    
            <span style="margin: 0 10px;">|</span>
            
            {% if lastSearchOption == "user" %}
                <input type="radio" id="option-user" name="search-option" value="user" checked>
            {% else %}
                <input type="radio" id="option-user" name="search-option" value="user">
            {% endif %}
            <label for="option-user">User Name</label>

        </div>

        <div id="search-result">

        </div>

</div>

{% endblock container %}

{% block js %}
    <script src="{% static 'cat/js/catBuilder.js' %}"></script>
    <script src="{% static 'cat/js/search.js' %}"></script>
{% endblock js %}