{% extends 'cat/base.html' %}

{% load static %}

{% block title %}
    <title>Search</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'cat/css/search.css' %}">
{% endblock css %}

{% block container %}
<div class="container">
    <h1 class="page-title">Find <i class="fas fa-cat"></i> or <i class="fas fa-user-friends"></i></h1>

        <div class="input-group">
            <input id="search-content" name="keyword" type="text" placeholder="who or what?" required>
            <button id="search-button"><i class="fas fa-search"></i></button>
        </div>
    
        <div class="radio-group">

            {% if lastSearchOption == "cat" %}
                <input type="radio" id="option-cat" name="search-option" value="cat" checked>
            {% else %}
                <input type="radio" id="option-cat" name="search-option" value="cat">
            {% endif %}

            
            <label for="option-cat">Cat ID</label>
    
            <span style="margin: 0 10px;">|</span>
            
            {% if lastSearchOption == "user" %}
                <input type="radio" id="option-user" name="search-option" value="user" checked>
            {% else %}
                <input type="radio" id="option-user" name="search-option" value="user">
            {% endif %}
            <label for="option-user">User Name</label>

        </div>

        <div id="search-result">

        </div>

</div>

{% endblock container %}

{% block modal %}
<div class="modal modal-dismissable" id="found-user-modal">

    <div class="modal-body modal-body-md">
        <div class="modal-header">
            About <span id="fu-modal-name"></span> <span class="close-modal-button" data-close="#found-user-modal"><i class="fas fa-times"></i></span>
        </div>

        <div class="modal-content">
            <div class="user-part">
                <div>
                    <img id="fu-modal-header" src="{% static 'cat/img/temp-header.png' %}" alt="user header">
                    <div id="fu-modal-about"></div>
                </div>
            </div>


            <div class="cat-part">
                <h3>Cat Collection (<span id="total-cats"></span>)</h3>
                <div class="cat-collection">
                    <!-- <canvas class="one-cat-collection"></canvas>
                    <canvas class="one-cat-collection"></canvas>
                    <canvas class="one-cat-collection"></canvas>
                    <canvas class="one-cat-collection"></canvas> -->
                </div>
            </div>
        </div>

        <div class="modal-controls">
            <button class="btn btn-submit">Follow <i class="fas fa-user-plus"></i></button>
        </div>
    </div>
</div>
{% endblock modal %}

{% block js %}
    <script src="{% static 'cat/js/catBuilder.js' %}"></script>
    <script src="{% static 'cat/js/search.js' %}"></script>
{% endblock js %}