.container{
    width: 75%;
}

.dashboard{
    display: block;
    width: 40%;
    padding: 20px;
    font-family: Andale Mono, monospace;
    box-sizing: border-box;
    float: left;
    height: 400px;
}


.feeds{
    display: block;
    padding: 20px;
    padding-left: 40px;
    padding-bottom: 0;
    width: 60%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    float: left;
    max-height: calc(100vh - 100px);
    margin-top: 20px;
    overflow-y: auto;
    -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}

/* .feeds:hover{
    overflow-y: scroll;
} */

.one-feed{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* border-top: 5px solid gray; */
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 20px;
    padding-top: 20px;
    padding-left: 40px;
    position: relative;
    font-family: Arial, sans-serif;
}

.feed-user-header{
    background-color: white;
    position: absolute;
    top: -15px;
    left: -30px;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: block;
}

.feed-user-header:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    cursor: pointer;
    opacity: .8;
}

.feed-content{
    display: block;
    width: 100%;
    font-size: 20px;
}

.feed-time{
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    padding-top: 20px;
    color: grey;
}

.user-found{
    width: 100%;
    max-width: 750px;
    box-sizing: border-box;
    /* border: 3px solid grey; */
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    color: white;
    /* background-color: grey; */
    transition: all .3s;
    user-select: none;
    margin-bottom: 20px;
}

.found-user-header{
    width: 120px;
    height: 120px;
    /* border-right: 3px solid grey; */
    box-sizing: border-box;
    display: block;
    margin-right: 20px;
}

.found-user-right{
    width:100%;
}

.found-user-name{
    height: 120px;
    line-height: 120px;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    /* https://cssgradient.io/ */
    box-sizing: border-box;
    text-overflow: ellipsis;
}

.dashboard-panel{
    background-color: white;
    color: black;
    /* border: 3px solid black; */
    margin-bottom: 20px;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}
#cat-count-render{
    color: white;
    background-color: #08AEEA;
    background-image: linear-gradient(90deg, #08AEEA 0%, #2AF598 100%);

}

#cat-count-render i{
    width: 36px;
    padding-top: 5px;
}

#love-count-render{
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    color: white;
}

#love-count-render i{
    padding-top: 5px;
    width: 30px;
    line-height: 30px;
}

#love-count-render span{
    line-height: 30px;
    font-size: 30px;
}

.dashboard-button{
    width: 100%;
    padding: 15px 10px;
    text-align: left;
    box-sizing: border-box;
    
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: gray;
    /* border-bottom: 1px solid rgb(206, 206, 206); */
    transition: all .1s;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.dashboard-button i{
    display: inline-block;
    width: 40px;
    text-align: center;
}

.dashboard-button a{
    text-decoration: none;
    color: gray;
}

.dashboard-button:hover, .dashboard-button a:hover{
    color: black;
    font-size: 32px;
    transition: all .1s;
}

@media screen and (max-width: 1200px){
    .container{
        width: 90%;
    }
}

@media screen and (max-width: 992px){
    .container{
        width: 80%;
    }
    .feeds{
        width: 100%;
        max-height: calc(100vh - 120px);
        margin-top: 0;
    }
    .dashboard{
        display: none;
    }
    
}

@media screen and (max-width: 576px){
    .container{
        width: 100%;
    }
}