html, body, div, h1, h2, h3, h4, ul, ol, li, a, p, span{
    padding: 0;
    margin: 0;
}

/* this is the scroll-bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* this is for notification */
.fa-layers{
    position: relative;
}
.fa-layers-counter{
    position: absolute;
    right: -18px;
    top: 2px;
    display: inline-block;
    -webkit-transform: scale(.45);
    transform: scale(.45);
    -webkit-transform-origin: top right;
    transform-origin: top right;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
    min-width: 40px;
    font-weight: bold;
    color: white;
    background-color: tomato;
}




/* this is the main container */
.container{
    height: calc(100vh - 60px);
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 992px){

    .container{
        height: calc(100vh - 120px);
        width: 100%;
        margin: 0 auto;
    }
    
}