html, body, div, h1, h2, h3, h4, ul, ol, li, a, p, span{
    padding: 0;
    margin: 0;
}

/* this is the scroll-bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* this is the main container */
.container{
    height: calc(100vh - 100px);
    width: 100%;
    margin: 0 auto;
}

h1{
    box-sizing: border-box;
    font-family: Andale Mono, monospace;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 300%;
    padding: 30px 0;
}

.cat-list{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 216px);
}

.one-box{
    position: relative;
    width: 450px;
    border: 3px solid black;
    overflow: hidden;
}

canvas.cat-graph{
    padding: 20px;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}

.add-box{
    display: table;
    color: black;
    border: none;
    transition: all .5s;
    min-height: 300px; /* hmmm... not sure if there are better solutions */
}
.add-box>span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 100px;
    font-family: Andale Mono, monospace;
    cursor: pointer;
}
.add-box>span>i:hover{
    color: green;
    /* background: green; */
    transition: all .5s;
}

.box-controls{
    display: block;
    opacity: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    z-index: 999;
}

.box-controls>button{
    width: 50%;
    height: 50%;
    margin: 0;
    float: left;
    font-family: Andale Mono, monospace;
    border: none;
    font-size: 200%;
    background: white;
    font-weight: bold;
}

.box-controls>button:first-child{
    display: block;
    width: 100%;
    margin: 0;
    height: 50%;
}

.box-controls>button:hover{
    background: black;
    color: white;
    font-size: 220%;
}

.box-controls>button:first-child:hover{
    background: red;
    color: black;
}

.fade-show{
    opacity: .95;
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s ;
}

.fade-hide{
    opacity: 0;
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s ;
}


.cat-name{
    background-color: black;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    font-family: Andale Mono, monospace;
}

.cat-info{
    width: 100%;
    background-color: black;
    padding: 10px 0;
    color: white;
}

.cat-info>span{
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    text-align: center;
    padding: 0 10px;
    font-size: 100%;
    font-weight: bold;
    font-family: Andale Mono, monospace;
}

.cat-preview, .cat-param{
    box-sizing: border-box;
    width: 50%;
    display: block;
    height: calc(100vh - 255px);
    float: left;
    overflow-y: auto;
}

.cat-param{
    padding: 0 20px;
    /* the bottom of the div will become blurred */
    -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
    padding-bottom: 10px;
}

.cat-preview{
    padding: 20px;
    border: 3px solid black;
    overflow-y: hidden;
}

#cat-preview-canvas{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* background-color: rgb(224, 224, 224); */
}

.cat-param>h2{
    margin-top: 5px;
    margin-bottom: 20px;
}

hr.category-divider{
    border: 1px dashed grey;
    margin-top: 0;
    margin-bottom: 15px;
}

.param-input>label{
    display: inline-block;
    min-width: 130px;
    font-weight: bold;
    height: 50px;
    line-height: 30px;
}
.param-input>input[type="text"]{
    box-sizing: border-box;
    height: 30px;
    border: 3px solid black;
    padding: 0 10px;
    font-family: Andale Mono, monospace;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 10px;
}

.param-input>select{
    box-sizing: border-box;
    height: 30px;
    border: 3px solid black;
    padding: 0 10px;
    font-family: Andale Mono, monospace;
    line-height: 24px;
    font-size: 14px;
}

.param-input>input[type="range"]{
    position: relative;
    top: 2px;
}

.param-input>input[type="color"] {
    position: relative;
    top: 5px;
	-webkit-appearance: none;
	border: 2px solid black;
	width: 25px;
	height: 25px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}
.param-input>input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
.param-input>input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 50%;
}


@media screen and (max-width: 1200px){
    .cat-preview{
        width: 55%;
    }
    .cat-param{
        width: 45%;
    }
}

@media screen and (max-width: 992px){

    .cat-preview, .cat-param{
        width: 100%;
        height: calc(50vh - 130px);
        border: none;
    }
    
}

@media screen and (max-width: 576px){

    .cat-preview, .cat-param{
        width: 100%;
        height: calc(50vh - 130px);
        border: none;
    }
}