.container{
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    font-family: Arial, sans-serif;
}

.user-found{

    width: 45%;
    max-width: 750px;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    color: black;
    background-color: white;
    text-align: left;
    transition: all .3s;
    margin: 20px auto;
}


/* .user-found:hover{
    background-color: rgb(235, 235, 235);
} */

.found-user-header{
    width: 140px;
    height: 140px;
    border: 3px solid rgb(0, 0, 0);
    box-sizing: border-box;
    display: block;
}

.found-user-right{
    width:100%;
}

.found-user-name{
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    align-items: center;
    font-weight: bold;
    padding-left: 20px;
}

#edit-info{
    display: inline-block;
    color: grey;
    font-size: 85%;
    transition: all .3s;
}

#edit-info:hover{
    color: green;
    transition: all .3s;
}

.right-aligned-button{
    display: inline-block;
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding: 0 10px;
    position: relative;
    top: -4px;
    cursor: pointer;
    user-select: none;
    margin-left: 10px;
    font-weight: normal;
}

.sm-follow-button:hover{
    background-color: green;
    color: white; 
    border-color: green;
}

.sm-unfollow-button{
    background-color: green;
    color: white; 
    border-color: green;
}

.sm-unfollow-button:hover{
    background-color: red;
    color: white; 
    border-color: red;
}

.connection-info{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    display: block;
    overflow: hidden;
    padding-left: 20px;
    user-select: none;
}

.connection-info>div{
    display: inline-block;
}

.connection-info>div:nth-child(1){
    margin-right: 10px;
}

.found-user-about{
    height: 60px;
    line-height: 30px;
    font-size: 18px;
    display: block;
    overflow: hidden;
    padding-left: 20px;
    font-style: italic;
}

.tabs{
    width: 45%;
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.tab{
    cursor: pointer;
    font-size: 24px;
    padding-bottom: 10px;
    color: grey;
    border-bottom: 3px solid white;
}

.tabs>.selected, .tab:hover{
    border-color: black;
    color: black;
    font-weight: bold;
}

.cat-collection{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.one-cat-collection{
    position: relative;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    display: block;
}
.one-cat-collection>canvas{
    height: 100%;
    width: 100%;
}
.one-cat-collection>div.expand{
    position: absolute;
    right: 5px;
    top: 5px;
    /* border: 1px solid black; */
    height: 30px;
    width: 30px;
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
    /* padding: 5px 10px; */
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all .3s;
}
.one-cat-collection>div.expand:hover{
    background-color: gray;
    color: white;
    transition: all .3s;
}

@media screen and (max-width: 1200px){
    .user-found, .tabs{
        width: 60%;
    }
    .one-cat-collection{
        height: 300px;
        width: 300px;
    }
}

@media screen and (max-width: 992px){
    .user-found, .tabs{
        width: 75%;
    }
    .one-cat-collection{
        height: 250px;
        width: 250px;
    }
}


@media screen and (max-width: 576px){
    .tabs{
        width: 100%;
    }
    .one-cat-collection{
        height: 260px;
        width: 260px;
        margin: 20px 10px;
    }
    .user-found{
        width: 100%;
        display: block;
        text-align: center;
        justify-content: center;
        margin: 10px 0;
        padding: 5px 10px;
    }
    .found-user-header{
        margin: 0 auto;
        margin-bottom: 10px;
        height: 80px;
        width: 80px;
    }
    
    .found-user-right{
        clear: both;
        width: 100%;
        padding-left: 0;
    }
    .found-user-name{
        font-size: 24px;
    }
    .right-aligned-button{
        font-size: 14px;
        height: 24px;
        line-height: 22px;
        top: -2px;
    }
    .found-user-right>div{
        padding: 0;
    }
    .connection-info{
        font-size: 16px;
    }
    .found-user-about{
        font-size: 16px;
        height: auto;
    }

}